let giscusAttributes = { src: "https://giscus.app/client.js", "data-repo": "donghyun0304/donghyun0304.github.io",
"data-repo-id": "R_kgDON1NBqg", "data-category": "Comments", "data-category-id": "DIC_kwDON1NBqs4CnNNm", "data-mapping":
"pathname", "data-strict": "0", "data-reactions-enabled": "1", "data-emit-metadata": "0", "data-theme":
"light_protanopia", "data-input-position": "top", "data-lang": "ko", crossorigin: "anonymous", async: "", };

let giscusScript = document.createElement("script"); Object.entries(giscusAttributes).forEach(([key, value]) =>
giscusScript.setAttribute(key, value) ); document.getElementById("tail-wrapper").appendChild(giscusScript);
